#DeleteComponent input {
  margin-bottom: 15px;
  margin-top: 5px;
  height: 30px;
  width: 230px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 3px;
}
#DeleteComponent input:focus{
    outline: none;
}
#DeleteComponent label{
    font-size: 15px;
}
#DeleteComponent .Delete_button{
  width: 90px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: black;
  color: white;
  margin-left: 150px;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}

#DeleteComponent #notValid{
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    color: red;
}